@charset "ISO-8859-1";
.container{
 width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  background-color:lightblue;
		
}
h2{
	border-style: inset;
}
input{
	border: 2px solid red;
  	border-radius: 5px;
}